@model ReffugeMVC.Models.TermometroNoturno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Termômetro Noturno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoSono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoSono.NomeDuracaoSono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VezesAcordou)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VezesAcordou)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSentimentoSono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSentimentoSono.NomeTipoSentimentoSono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TermometroNoturnoId" class="btn btn-segundo">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>
